node_modules
.next
.vercel
dist
build
.env
.env.local
.env.*.local
mastra.db
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

tsconfig.tsbuildinfo
.mastra/output/
.mastra/cache/
